<div class="container">
  <h1>New Flat</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <%= render 'form', flat: @flat %>

      <%= link_to 'Back', flats_path %>
      </div>
  </div>
</div>
